forEnersys/retrieveSivas/flowsBackup2/setParentAccoutIdtoChildren-1.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <assignments>
        <name>set_parentid</name>
        <label>set parentid</label>
        <locationX>654</locationX>
        <locationY>223</locationY>
        <assignmentItems>
            <assignToReference>AccountRectoUpdate.ParentId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>inAccountRecord.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>set_the_parent_id_for_my_chiildren</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>check_if_I_have_parent_duns_record</name>
        <label>check if I have parent duns record</label>
        <locationX>67</locationX>
        <locationY>125</locationY>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>I_have_a_parent_duns_value</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>inAccountRecord.DunsNumber</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>inAccountRecord.Parent_DUNS_number__c</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>inAccountRecord.Parent_DUNS_number__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>find_Children_Accounts</targetReference>
            </connector>
            <label>I have a parent duns value</label>
        </rules>
    </decisions>
    <description>Set the parent id for all the accounts which has the same parent duns value set as my duns number</description>
    <interviewLabel>setParentAccoutIdtoChildren {!$Flow.CurrentDateTime}</interviewLabel>
    <label>setParentAccoutIdtoChildren</label>
    <loops>
        <name>set_the_parent_id_for_my_chiildren</name>
        <label>set the parent id for my chiildren</label>
        <locationX>470</locationX>
        <locationY>137</locationY>
        <assignNextValueToReference>AccountRectoUpdate</assignNextValueToReference>
        <collectionReference>childAccountList</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>set_parentid</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Update_Parent_ID</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>find_Children_Accounts</name>
        <label>find Children Accounts</label>
        <locationX>288</locationX>
        <locationY>133</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>set_the_parent_id_for_my_chiildren</targetReference>
        </connector>
        <filters>
            <field>DandbCompanyId</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Parent_DUNS_number__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>inAccountRecord.DunsNumber</elementReference>
            </value>
        </filters>
        <object>Account</object>
        <outputReference>childAccountList</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>ParentId</queriedFields>
    </recordLookups>
    <recordUpdates>
        <name>Update_Parent_ID</name>
        <label>Update Parent ID</label>
        <locationX>459</locationX>
        <locationY>381</locationY>
        <inputReference>childAccountList</inputReference>
    </recordUpdates>
    <startElementReference>check_if_I_have_parent_duns_record</startElementReference>
    <variables>
        <description>Account record Update</description>
        <name>AccountRectoUpdate</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Account</objectType>
    </variables>
    <variables>
        <name>childAccountList</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Account</objectType>
    </variables>
    <variables>
        <description>Input Accont Record</description>
        <name>inAccountRecord</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>Account</objectType>
    </variables>
    <variables>
        <description>ID of the Parent Duns Record</description>
        <name>ParentRecordID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
