forClientName/retrieveSivas/flows/setParentAccoutIdtoChildren-7.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <assignments>
        <name>Add_updates_to_the_account_list</name>
        <label>Add updates to the account list</label>
        <locationX>742</locationX>
        <locationY>356</locationY>
        <assignmentItems>
            <assignToReference>AccountListtoUpdate</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>AccountRectoUpdate</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>list_my_chiildren</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>set_parentid</name>
        <label>set parentid</label>
        <locationX>723</locationX>
        <locationY>101</locationY>
        <assignmentItems>
            <assignToReference>AccountRectoUpdate.ParentId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>InParentID</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>make_sure_not_cyclic</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>check_if_I_have_parent_duns_record</name>
        <label>check if I have parent duns record</label>
        <locationX>67</locationX>
        <locationY>125</locationY>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>I_have_a_parent_duns_value</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>dunslength</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <numberValue>9.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>find_Children_Accounts</targetReference>
            </connector>
            <label>I have a parent duns value</label>
        </rules>
    </decisions>
    <decisions>
        <name>make_sure_not_cyclic</name>
        <label>make sure not cyclic</label>
        <locationX>754</locationX>
        <locationY>229</locationY>
        <defaultConnector>
            <targetReference>list_my_chiildren</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>not_cyclic</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>InParentID</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>AccountRectoUpdate.Id</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Add_updates_to_the_account_list</targetReference>
            </connector>
            <label>not cyclic</label>
        </rules>
    </decisions>
    <description>Set the parent id for all the accounts which has the same parent duns value set as my duns number</description>
    <formulas>
        <name>dunslength</name>
        <dataType>Number</dataType>
        <expression>Len({!InParentDunsNumber})</expression>
        <scale>2</scale>
    </formulas>
    <interviewLabel>setParentAccoutIdtoChildren {!$Flow.CurrentDateTime}</interviewLabel>
    <label>setParentAccoutIdtoChildren</label>
    <loops>
        <name>list_my_chiildren</name>
        <label>list my chiildren</label>
        <locationX>478</locationX>
        <locationY>123</locationY>
        <assignNextValueToReference>AccountRectoUpdate</assignNextValueToReference>
        <collectionReference>childAccountList</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>set_parentid</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Update_Parent_ID</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>find_Children_Accounts</name>
        <label>find Children Accounts</label>
        <locationX>288</locationX>
        <locationY>133</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>list_my_chiildren</targetReference>
        </connector>
        <filters>
            <field>Parent_DUNS_number__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>InParentDunsNumber</elementReference>
            </value>
        </filters>
        <object>Account</object>
        <outputReference>childAccountList</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>ParentId</queriedFields>
        <sortField>Id</sortField>
        <sortOrder>Asc</sortOrder>
    </recordLookups>
    <recordUpdates>
        <name>Update_Parent_ID</name>
        <label>Update Parent ID</label>
        <locationX>483</locationX>
        <locationY>373</locationY>
        <inputReference>AccountListtoUpdate</inputReference>
    </recordUpdates>
    <startElementReference>check_if_I_have_parent_duns_record</startElementReference>
    <variables>
        <description>account list to update</description>
        <name>AccountListtoUpdate</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Account</objectType>
    </variables>
    <variables>
        <description>Account record Update</description>
        <name>AccountRectoUpdate</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Account</objectType>
    </variables>
    <variables>
        <name>childAccountList</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Account</objectType>
    </variables>
    <variables>
        <description>Input Parent Duns Number</description>
        <name>InParentDunsNumber</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>ID of the Record</description>
        <name>InParentID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
