forClientName/retrieveSivas/flowsBackup/Diagnose_Issue_Flow_2-1.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <assignments>
        <name>A1_Billing_Articles</name>
        <label>A1 Billing Articles</label>
        <locationX>253</locationX>
        <locationY>570</locationY>
        <assignmentItems>
            <assignToReference>KnowledgeSubject</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Billing Issue</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>SCR4_Account_and_Billing_Issue</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>A2_Laptop_Articles</name>
        <label>A2 Laptop Articles</label>
        <locationX>548</locationX>
        <locationY>791</locationY>
        <assignmentItems>
            <assignToReference>KnowledgeCategoryOne</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Consumer_Laptop</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>SCR6_Provide_a_Description</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>A3_Case_Subject_Billing</name>
        <label>A3 Case Subject Billing</label>
        <locationX>253</locationX>
        <locationY>794</locationY>
        <assignmentItems>
            <assignToReference>CaseSubject</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Billing Issue</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>SCR7_Do_the_Article_Resolve_the_Issue</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>A4_Case_Subject_Description</name>
        <label>A4 Case Subject Description</label>
        <locationX>548</locationX>
        <locationY>1012</locationY>
        <assignmentItems>
            <assignToReference>CaseSubject</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Description</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>SCR7_Do_the_Article_Resolve_the_Issue</targetReference>
        </connector>
    </assignments>
    <choices>
        <name>Account_or_Billing_Issue</name>
        <choiceText>Account or Billing Issue</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Account or Billing Issue</stringValue>
        </value>
    </choices>
    <choices>
        <name>No</name>
        <choiceText>No</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>No</stringValue>
        </value>
    </choices>
    <choices>
        <name>No_Entitlements_Listed</name>
        <choiceText>--No Entitlements Listed</choiceText>
        <dataType>String</dataType>
    </choices>
    <choices>
        <name>Technical</name>
        <choiceText>Technical</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Technical</stringValue>
        </value>
    </choices>
    <choices>
        <name>Yes</name>
        <choiceText>Yes</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Yes</stringValue>
        </value>
    </choices>
    <decisions>
        <name>D1_Person_Account_Check</name>
        <label>D1 Person Account Check</label>
        <locationX>398</locationX>
        <locationY>31</locationY>
        <defaultConnector>
            <targetReference>RL4_Account_Address</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>PersonAccountFalse</defaultConnectorLabel>
        <rules>
            <name>PersonAccountTrue</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>PersonAccountTF</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>RL3_Person_Account_Address</targetReference>
            </connector>
            <label>PersonAccountTrue</label>
        </rules>
    </decisions>
    <decisions>
        <name>D2_Issue_Type</name>
        <label>D2 Issue Type</label>
        <locationX>398</locationX>
        <locationY>460</locationY>
        <defaultConnector>
            <targetReference>SCR3_Technical_Issue</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Technical Issue</defaultConnectorLabel>
        <rules>
            <name>Account_or_Billing_Issue_Choice</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Please_Select_The_Issue_Type</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Account_or_Billing_Issue</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>A1_Billing_Articles</targetReference>
            </connector>
            <label>Account or Billing Issue</label>
        </rules>
    </decisions>
    <decisions>
        <name>D3_Resolved_By_Articles</name>
        <label>D3 Resolved By Articles</label>
        <locationX>253</locationX>
        <locationY>1125</locationY>
        <defaultConnector>
            <targetReference>RC2_Case_For_Follow_Up</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Not Resolved</defaultConnectorLabel>
        <rules>
            <name>Issue_Resolved</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Do_the_suggested_articles_resolve_your_case</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Yes</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>RC1_Case_for_Email</targetReference>
            </connector>
            <label>Issue Resolved</label>
        </rules>
    </decisions>
    <dynamicChoiceSets>
        <name>AssetsList</name>
        <dataType>String</dataType>
        <displayField>Asset_Combo__c</displayField>
        <filters>
            <field>ContactId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>ContactId</elementReference>
            </value>
        </filters>
        <object>Asset</object>
        <outputAssignments>
            <assignToReference>AssetName</assignToReference>
            <field>Asset_Combo__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>AssetId</assignToReference>
            <field>Id</field>
        </outputAssignments>
        <valueField>Asset_Combo__c</valueField>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>EntitlementsList</name>
        <dataType>String</dataType>
        <displayField>BusinessHoursId</displayField>
        <filters>
            <field>AccountId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>AccountId</elementReference>
            </value>
        </filters>
        <object>Entitlement</object>
        <outputAssignments>
            <assignToReference>EntitlementName</assignToReference>
            <field>BusinessHoursId</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>EntitlementId</assignToReference>
            <field>Id</field>
        </outputAssignments>
        <valueField>BusinessHoursId</valueField>
    </dynamicChoiceSets>
    <label>Diagnose Issue Flow 2</label>
    <processType>Flow</processType>
    <recordCreates>
        <name>RC1_Case_for_Email</name>
        <label>RC1 Case for Email</label>
        <locationX>1</locationX>
        <locationY>1275</locationY>
        <assignRecordIdToReference>CaseId</assignRecordIdToReference>
        <connector>
            <targetReference>RC3_ArticleAttach</targetReference>
        </connector>
        <inputAssignments>
            <field>AssetId</field>
            <value>
                <elementReference>AssetId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ContactId</field>
            <value>
                <elementReference>ContactId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>EntitlementId</field>
            <value>
                <elementReference>EntitlementId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SendArticleEmail__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <elementReference>Description</elementReference>
            </value>
        </inputAssignments>
        <object>Case</object>
    </recordCreates>
    <recordCreates>
        <name>RC2_Case_For_Follow_Up</name>
        <label>RC2 Case For Follow Up</label>
        <locationX>498</locationX>
        <locationY>1277</locationY>
        <assignRecordIdToReference>CaseId</assignRecordIdToReference>
        <connector>
            <targetReference>RL5_CaseNumber</targetReference>
        </connector>
        <inputAssignments>
            <field>AssetId</field>
            <value>
                <elementReference>AssetId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ContactId</field>
            <value>
                <elementReference>ContactId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>EntitlementId</field>
            <value>
                <elementReference>EntitlementId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <elementReference>CaseSubject</elementReference>
            </value>
        </inputAssignments>
        <object>Case</object>
    </recordCreates>
    <recordCreates>
        <name>RC3_ArticleAttach</name>
        <label>RC3 ArticleAttach</label>
        <locationX>167</locationX>
        <locationY>1276</locationY>
        <connector>
            <targetReference>RU_Case_Update_For_Email</targetReference>
        </connector>
        <inputAssignments>
            <field>CaseId</field>
            <value>
                <elementReference>CaseId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>KnowledgeArticleId</field>
            <value>
                <stringValue>kA430000000B2r5</stringValue>
            </value>
        </inputAssignments>
        <object>CaseArticle</object>
    </recordCreates>
    <recordLookups>
        <name>RL1_Contact</name>
        <label>RL1- Contact</label>
        <locationX>95</locationX>
        <locationY>31</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>RL3_Account</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>ContactId</elementReference>
            </value>
        </filters>
        <object>Contact</object>
        <outputAssignments>
            <assignToReference>AccountId</assignToReference>
            <field>AccountId</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>ContactEmail</assignToReference>
            <field>Email</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>ContactName</assignToReference>
            <field>Name</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>ContactPhone</assignToReference>
            <field>Phone</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>RL3_Account</name>
        <label>RL2 - Account</label>
        <locationX>247</locationX>
        <locationY>31</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>D1_Person_Account_Check</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>AccountId</elementReference>
            </value>
        </filters>
        <object>Account</object>
        <outputAssignments>
            <assignToReference>PersonAccountTF</assignToReference>
            <field>IsPersonAccount</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>AccountName</assignToReference>
            <field>Name</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>RL3_Person_Account_Address</name>
        <label>RL3 - Person Account Address</label>
        <locationX>522</locationX>
        <locationY>129</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>SCR1_Greeting</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>AccountId</elementReference>
            </value>
        </filters>
        <object>Account</object>
        <outputAssignments>
            <assignToReference>AccountCity</assignToReference>
            <field>PersonMailingCity</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>AccountPostalCode</assignToReference>
            <field>PersonMailingPostalCode</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>AccountState</assignToReference>
            <field>PersonMailingState</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>AccountStreet</assignToReference>
            <field>PersonMailingStreet</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>RL4_Account_Address</name>
        <label>RL4 Account Address</label>
        <locationX>247</locationX>
        <locationY>136</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>SCR1_Greeting</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>AccountId</elementReference>
            </value>
        </filters>
        <object>Account</object>
        <outputAssignments>
            <assignToReference>AccountCity</assignToReference>
            <field>BillingCity</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>AccountPostalCode</assignToReference>
            <field>BillingPostalCode</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>AccountState</assignToReference>
            <field>BillingState</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>AccountStreet</assignToReference>
            <field>BillingStreet</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>RL5_CaseNumber</name>
        <label>RL5 CaseNumber</label>
        <locationX>665</locationX>
        <locationY>1277</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>SCR9_Create_Case</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>CaseId</elementReference>
            </value>
        </filters>
        <object>Case</object>
        <outputAssignments>
            <assignToReference>CaseNumber</assignToReference>
            <field>CaseNumber</field>
        </outputAssignments>
    </recordLookups>
    <recordUpdates>
        <name>RU_Case_Update_For_Email</name>
        <label>RU Case Update For Email</label>
        <locationX>330</locationX>
        <locationY>1277</locationY>
        <connector>
            <targetReference>SCR8_Send_Article</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>CaseId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>SendArticleEmail__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <object>Case</object>
    </recordUpdates>
    <screens>
        <name>SCR10_Finish</name>
        <label>SCR10 Finish</label>
        <locationX>504</locationX>
        <locationY>1462</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>EndText</name>
            <fieldText>&lt;SPAN ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;Thank you for contact Cirrus Customer Service. We appreciate your business.&lt;/FONT&gt;&lt;/SPAN&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
    </screens>
    <screens>
        <name>SCR1_Greeting</name>
        <label>SCR1 Greeting</label>
        <locationX>398</locationX>
        <locationY>238</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>SCR2_Select_Issue_Type</targetReference>
        </connector>
        <fields>
            <name>CompanyLogoDisplay0</name>
            <fieldText>{!CompanyLogo}</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Greeting</name>
            <fieldText>&lt;SPAN ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;Thanks for calling Cirrus Corp. My name is {!AgentFirstName}&lt;FONT KERNING=&quot;1&quot;&gt;.&lt;/FONT&gt; How may I help you?&lt;/FONT&gt;&lt;/SPAN&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
    </screens>
    <screens>
        <name>SCR2_Select_Issue_Type</name>
        <label>SCR2 Select Issue Type</label>
        <locationX>398</locationX>
        <locationY>348</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>D2_Issue_Type</targetReference>
        </connector>
        <fields>
            <name>HtmlTable0</name>
            <fieldText>{!HtmlTable}</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Please_Select_The_Issue_Type</name>
            <choiceReferences>Account_or_Billing_Issue</choiceReferences>
            <choiceReferences>Technical</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Please Select The Issue Type</fieldText>
            <fieldType>RadioButtons</fieldType>
            <isRequired>false</isRequired>
        </fields>
    </screens>
    <screens>
        <name>SCR3_Technical_Issue</name>
        <label>SCR3 Technical Issue</label>
        <locationX>548</locationX>
        <locationY>568</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>SCR5_Select_the_Asset</targetReference>
        </connector>
        <fields>
            <name>HtmlTable1</name>
            <fieldText>&lt;SPAN ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;{!HtmlTable}&lt;/FONT&gt;&lt;/SPAN&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Verify_Entitlement_From_List_Below</name>
            <choiceReferences>No_Entitlements_Listed</choiceReferences>
            <choiceReferences>EntitlementsList</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Verify Entitlement From List Below</fieldText>
            <fieldType>RadioButtons</fieldType>
            <isRequired>false</isRequired>
        </fields>
    </screens>
    <screens>
        <name>SCR4_Account_and_Billing_Issue</name>
        <label>SCR4 Account and Billing Issue</label>
        <locationX>253</locationX>
        <locationY>681</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>A3_Case_Subject_Billing</targetReference>
        </connector>
        <fields>
            <name>HtmlTable2</name>
            <fieldText>&lt;SPAN ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;{!HtmlTable}&lt;/FONT&gt;&lt;/SPAN&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>ArticleReview</name>
            <fieldText>&lt;SPAN ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;1&quot;&gt;&lt;/FONT&gt;&lt;/SPAN&gt;&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;1&quot;&gt;Review the Suggested Articles for possible solutions.&lt;/FONT&gt;&lt;/DIV&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
    </screens>
    <screens>
        <name>SCR5_Select_the_Asset</name>
        <label>SCR5 Select the Asset</label>
        <locationX>548</locationX>
        <locationY>677</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>A2_Laptop_Articles</targetReference>
        </connector>
        <fields>
            <name>HtmlTable3</name>
            <fieldText>&lt;SPAN ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;{!HtmlTable}&lt;/FONT&gt;&lt;/SPAN&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Select_the_Asset_with_the_Issue</name>
            <choiceReferences>AssetsList</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Select the Asset with the Issue</fieldText>
            <fieldType>RadioButtons</fieldType>
            <isRequired>false</isRequired>
        </fields>
    </screens>
    <screens>
        <name>SCR6_Provide_a_Description</name>
        <label>SCR6 Provide a Description</label>
        <locationX>548</locationX>
        <locationY>903</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>A4_Case_Subject_Description</targetReference>
        </connector>
        <fields>
            <name>HtmlTable4</name>
            <fieldText>&lt;SPAN ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;{!HtmlTable}&lt;/FONT&gt;&lt;/SPAN&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>ProvideADescription</name>
            <fieldText>&lt;SPAN ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;1&quot;&gt;Please Provide a Short Description For your Product Issue:&lt;/FONT&gt;&lt;/SPAN&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Description</name>
            <dataType>String</dataType>
            <fieldText>Description</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
    </screens>
    <screens>
        <name>SCR7_Do_the_Article_Resolve_the_Issue</name>
        <label>SCR7 Do the Article Resolve the Issue?</label>
        <locationX>253</locationX>
        <locationY>1012</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>D3_Resolved_By_Articles</targetReference>
        </connector>
        <fields>
            <name>HtmlTable5</name>
            <fieldText>&lt;SPAN ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;{!HtmlTable}&lt;/FONT&gt;&lt;/SPAN&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Do_the_suggested_articles_resolve_your_case</name>
            <choiceReferences>Yes</choiceReferences>
            <choiceReferences>No</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Do the suggested articles resolve your case?</fieldText>
            <fieldType>RadioButtons</fieldType>
            <isRequired>false</isRequired>
        </fields>
    </screens>
    <screens>
        <name>SCR8_Send_Article</name>
        <label>SCR8 Send Article</label>
        <locationX>330</locationX>
        <locationY>1390</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>SCR10_Finish</targetReference>
        </connector>
        <fields>
            <name>ArticleSent</name>
            <fieldText>&lt;SPAN ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt; &lt;FONT KERNING=&quot;1&quot;&gt;{!ContactName}, &lt;/FONT&gt;we have emailed the article to you. Is there anything else I can help you with?&lt;/FONT&gt;&lt;/SPAN&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
    </screens>
    <screens>
        <name>SCR9_Create_Case</name>
        <label>SCR9 Create Case</label>
        <locationX>665</locationX>
        <locationY>1385</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>SCR10_Finish</targetReference>
        </connector>
        <fields>
            <name>HtmlTable6</name>
            <fieldText>{!HtmlTable}</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>CreateACase</name>
            <fieldText>&lt;SPAN ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;1&quot;&gt;{!ContactName}&lt;FONT KERNING=&quot;0&quot;&gt;, we&amp;apos;ve created a new case related to your issue. You&amp;apos;ll receive updates on status changes via your preferred channel, email.  For future reference, the new case number is &lt;/FONT&gt;{!CaseNumber}&lt;FONT KERNING=&quot;0&quot;&gt;. Is there anything else I can help you with?&lt;/FONT&gt;&lt;/FONT&gt;&lt;/SPAN&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
    </screens>
    <startElementReference>RL1_Contact</startElementReference>
    <variables>
        <name>AccountCity</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>AccountId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>AccountName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>AccountPostalCode</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>AccountState</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>AccountStreet</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>AgentFirstName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>AssetId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>AssetName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>CaseId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>CaseNumber</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>CaseSubject</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>CompanyLogo</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <stringValue>&lt;img src=&quot;/resource/CirrusLogo&quot;&gt;&lt;/img&gt;</stringValue>
        </value>
    </variables>
    <variables>
        <name>ContactEmail</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>ContactId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>ContactName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>ContactPhone</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>EntitlementId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>EntitlementName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>HtmlTable</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <stringValue>&lt;table&gt;&lt;tr&gt;&lt;td colspan=&quot;3&quot;&gt;{!CompanyLogo}&lt;/td&gt;&lt;/tr&gt;&lt;tr&gt;&lt;td width=&quot;250&quot;&gt;&lt;span style=&quot;color:#0299EC;&quot;&gt;Name:&lt;/span&gt;&amp;nbsp;{!ContactName}&lt;/td&gt;&lt;td width=&quot;250&quot;&gt;&lt;span style=&quot;color:#0299EC;&quot;&gt;Account Name:&lt;/span&gt;&amp;nbsp;{!AccountName}&lt;/td&gt;&lt;td&gt;&lt;span style=&quot;color:#0299EC;&quot;&gt;Entitlement:&lt;/span&gt;&amp;nbsp;{!EntitlementName}&lt;/td&gt;&lt;/tr&gt;&lt;tr&gt;&lt;td&gt;&lt;span style=&quot;color:#0299EC;&quot;&gt;Phone:&lt;/span&gt;&amp;nbsp;{!ContactPhone}&lt;/td&gt;&lt;td&gt;&lt;span style=&quot;color:#0299EC;&quot;&gt;Account Address:&lt;/span&gt;&amp;nbsp;{!AccountStreet}&lt;/td&gt;&lt;td&gt;&lt;span style=&quot;color:#0299EC;&quot;&gt;Asset:&lt;/span&gt;&amp;nbsp;{!AssetName}&lt;/td&gt;&lt;/tr&gt;&lt;tr&gt;&lt;td&gt;&lt;span style=&quot;color:#0299EC;&quot;&gt;Email:&lt;/span&gt;&amp;nbsp;{!ContactEmail}&lt;/td&gt;&lt;td&gt;&lt;span style=&quot;color:#0299EC;&quot;&gt;Account City, ST:&lt;/span&gt;&amp;nbsp;{!AccountCity},&amp;nbsp;{!AccountState}&lt;/td&gt;&lt;td&gt;&lt;span style=&quot;color:#0299EC;&quot;&gt;Case #:&lt;/span&gt;&amp;nbsp;{!CaseNumber}&lt;/td&gt;&lt;/tr&gt;&lt;/table&gt;</stringValue>
        </value>
    </variables>
    <variables>
        <name>KnowledgeCategoryOne</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <stringValue>All</stringValue>
        </value>
    </variables>
    <variables>
        <name>KnowledgeCategoryThree</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <stringValue>All</stringValue>
        </value>
    </variables>
    <variables>
        <name>KnowledgeCategoryTwo</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <stringValue>All</stringValue>
        </value>
    </variables>
    <variables>
        <name>KnowledgeSubject</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>PersonAccountTF</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
</Flow>
