forEnersys/DavePkg/Quote_Update_fields.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <choices>
        <name>choiceEuro</name>
        <choiceText>Euro</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>EUR</stringValue>
        </value>
    </choices>
    <choices>
        <name>IndustryChoice</name>
        <choiceText>IndustryChoice</choiceText>
        <dataType>String</dataType>
        <value>
            <elementReference>Industry</elementReference>
        </value>
    </choices>
    <choices>
        <name>pickvalNone</name>
        <choiceText>None</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>None</stringValue>
        </value>
    </choices>
    <decisions>
        <name>EMEA_User_or_Americas_User</name>
        <label>EMEA User or Americas User</label>
        <locationX>657</locationX>
        <locationY>12</locationY>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>EMEA_User</name>
            <conditionLogic>(1 OR 2 OR 3) AND 4</conditionLogic>
            <conditions>
                <leftValueReference>UserSBU.SBU__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>MP - EMEA</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>UserSBU.SBU__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>RP - EMEA</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>UserSBU.SBU__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>EAS - EMEA</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>AccountName.SAP_Customer_Id__c</leftValueReference>
                <operator>NotEqualTo</operator>
            </conditions>
            <connector>
                <targetReference>Gather_Quote_and_Opportunity_Information_0</targetReference>
            </connector>
            <label>EMEA User</label>
        </rules>
        <rules>
            <name>Americas_User</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>UserSBU.SBU__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>RP - Americas</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>UserSBU.SBU__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>MP - Americas</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>UserSBU.SBU__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>EAS - Americas</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Gather_Quote_and_Opportunity_Information</targetReference>
            </connector>
            <label>Americas User</label>
        </rules>
        <rules>
            <name>EMEA_User_w_o_SAP_Account</name>
            <conditionLogic>(1 OR 2 OR 3) AND 4</conditionLogic>
            <conditions>
                <leftValueReference>UserSBU.SBU__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>MP - EMEA</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>UserSBU.SBU__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>RP - EMEA</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>UserSBU.SBU__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>EAS - EMEA</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>AccountName.SAP_Customer_Id__c</leftValueReference>
                <operator>EqualTo</operator>
            </conditions>
            <connector>
                <targetReference>screenEMEAProspect</targetReference>
            </connector>
            <label>EMEA User w/o SAP Account</label>
        </rules>
    </decisions>
    <description>Americas &amp; EMEA Decision w/separate creates w/Opp default name removed w/defaults filled in including Ship To</description>
    <dynamicChoiceSets>
        <name>Industry</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Industry__c</picklistField>
        <picklistObject>SBQQ__Quote__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>MatchingLOBChoices</name>
        <dataType>String</dataType>
        <displayField>LOB_Name_Number__c</displayField>
        <filters>
            <field>LOB_Name_Number__c</field>
            <operator>Contains</operator>
            <value>
                <elementReference>LOB</elementReference>
            </value>
        </filters>
        <filters>
            <field>SBU_Picklist__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>UserSBU.SBU__c</elementReference>
            </value>
        </filters>
        <limit>100</limit>
        <object>LOB__c</object>
        <outputAssignments>
            <assignToReference>varLOBID</assignToReference>
            <field>Id</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>varLOBName</assignToReference>
            <field>Name</field>
        </outputAssignments>
        <valueField>LOB_Name_Number__c</valueField>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>OppType</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Type</picklistField>
        <picklistObject>Opportunity</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>picklistCurrencySupported</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>CurrencyIsoCode</picklistField>
        <picklistObject>Opportunity</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>picklistIndustry</name>
        <dataType>String</dataType>
        <displayField>Dependent_Field_Value__c</displayField>
        <filters>
            <field>Controlling_Field_API_Name__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>SBU__c</stringValue>
            </value>
        </filters>
        <filters>
            <field>Controlling_Field_Value__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>UserSBU.SBU__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>Dependent_Field_API_Name__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Industry__c</stringValue>
            </value>
        </filters>
        <filters>
            <field>Object_Name_for_Dependent_Picklist__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>SBQQ__Quote__c</stringValue>
            </value>
        </filters>
        <object>Dependent_Picklist_Values__mdt</object>
        <outputAssignments>
            <assignToReference>varIndustry</assignToReference>
            <field>Dependent_Field_Value__c</field>
        </outputAssignments>
        <valueField>Dependent_Field_Value__c</valueField>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>picklistPriceBook</name>
        <dataType>String</dataType>
        <displayField>Dependent_Field_Value__c</displayField>
        <filters>
            <field>Controlling_Field_Value__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>SBU__c</stringValue>
            </value>
        </filters>
        <filters>
            <field>Controlling_Field_Value__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>UserSBU.SBU__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>Dependent_Field_API_Name__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Pricebook__c</stringValue>
            </value>
        </filters>
        <filters>
            <field>Object_Name_for_Dependent_Picklist__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>User</stringValue>
            </value>
        </filters>
        <object>Dependent_Picklist_Values__mdt</object>
        <outputAssignments>
            <assignToReference>varPricebook</assignToReference>
            <field>Dependent_Field_Value__c</field>
        </outputAssignments>
        <valueField>Dependent_Field_Value__c</valueField>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>picklistSiteOptions</name>
        <dataType>String</dataType>
        <displayField>Dependent_Field_Value__c</displayField>
        <filters>
            <field>Controlling_Field_API_Name__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>SBU__c</stringValue>
            </value>
        </filters>
        <filters>
            <field>Controlling_Field_Value__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>UserSBU.SBU__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>Dependent_Field_API_Name__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Site_Options__c</stringValue>
            </value>
        </filters>
        <filters>
            <field>Object_Name_for_Dependent_Picklist__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>SBQQ__Quote__c</stringValue>
            </value>
        </filters>
        <object>Dependent_Picklist_Values__mdt</object>
        <outputAssignments>
            <assignToReference>varSiteOptions</assignToReference>
            <field>Dependent_Field_Value__c</field>
        </outputAssignments>
        <sortField>Dependent_Field_Value__c</sortField>
        <sortOrder>Asc</sortOrder>
        <valueField>Dependent_Field_Value__c</valueField>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>picklistSubIndustry</name>
        <dataType>String</dataType>
        <displayField>Dependent_Field_Value__c</displayField>
        <filters>
            <field>Controlling_Field_API_Name__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Industry__c</stringValue>
            </value>
        </filters>
        <filters>
            <field>Controlling_Field_Value__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>selectIndustry</elementReference>
            </value>
        </filters>
        <filters>
            <field>Dependent_Field_API_Name__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Sub_Industry__c</stringValue>
            </value>
        </filters>
        <filters>
            <field>Object_Name_for_Dependent_Picklist__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>SBQQ__Quote__c</stringValue>
            </value>
        </filters>
        <object>Dependent_Picklist_Values__mdt</object>
        <outputAssignments>
            <assignToReference>varSubIndustry</assignToReference>
            <field>Dependent_Field_Value__c</field>
        </outputAssignments>
        <sortField>Dependent_Field_Value__c</sortField>
        <sortOrder>Asc</sortOrder>
        <valueField>Dependent_Field_Value__c</valueField>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>picklistSubIndustry2</name>
        <dataType>String</dataType>
        <displayField>Dependent_Field_Value__c</displayField>
        <filters>
            <field>Controlling_Field_API_Name__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>industry__c</stringValue>
            </value>
        </filters>
        <filters>
            <field>Controlling_Field_Value__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>selectIndustry</elementReference>
            </value>
        </filters>
        <filters>
            <field>Dependent_Field_API_Name__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Sub_Industry__c</stringValue>
            </value>
        </filters>
        <filters>
            <field>Object_Name_for_Dependent_Picklist__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>SBQQ__Quote__c</stringValue>
            </value>
        </filters>
        <object>Dependent_Picklist_Values__mdt</object>
        <outputAssignments>
            <assignToReference>varSubIndustry</assignToReference>
            <field>Dependent_Field_Value__c</field>
        </outputAssignments>
        <valueField>Dependent_Field_Value__c</valueField>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>picklistTechnology</name>
        <dataType>String</dataType>
        <displayField>Dependent_Field_Value__c</displayField>
        <filters>
            <field>Controlling_Field_API_Name__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>SBU__c</stringValue>
            </value>
        </filters>
        <filters>
            <field>Controlling_Field_Value__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>UserSBU.SBU__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>Dependent_Field_API_Name__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Technology__c</stringValue>
            </value>
        </filters>
        <filters>
            <field>Object_Name_for_Dependent_Picklist__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>SBQQ__Quote__c</stringValue>
            </value>
        </filters>
        <object>Dependent_Picklist_Values__mdt</object>
        <outputAssignments>
            <assignToReference>varTechnology</assignToReference>
            <field>Dependent_Field_Value__c</field>
        </outputAssignments>
        <valueField>Dependent_Field_Value__c</valueField>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>SBU</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>SBU__c</picklistField>
        <picklistObject>SBQQ__Quote__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>selectSalesAreaData</name>
        <dataType>String</dataType>
        <displayField>Sales_Area_Code_Text__c</displayField>
        <filters>
            <field>Account__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>AccountID</elementReference>
            </value>
        </filters>
        <filters>
            <field>Division_Code__c</field>
            <operator>EndsWith</operator>
            <value>
                <elementReference>formulaSADLimits</elementReference>
            </value>
        </filters>
        <object>Sales_Area_data__c</object>
        <outputAssignments>
            <assignToReference>varSADID</assignToReference>
            <field>Id</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>varIncoterms</assignToReference>
            <field>Incoterm_Code_lookup__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>varSACode</assignToReference>
            <field>Sales_Area_Sales_Organisation_Code__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>varShippingConditions</assignToReference>
            <field>Shipping_Conditions__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>varPaymentTerms</assignToReference>
            <field>Terms_of_Payment_lookup__c</field>
        </outputAssignments>
        <valueField>Id</valueField>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>selectShipToData</name>
        <dataType>String</dataType>
        <displayField>Account_w_Address__c</displayField>
        <filters>
            <field>Sales_Area_Sales_Organisation_Code__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varSACode</elementReference>
            </value>
        </filters>
        <object>Sales_Area_data__c</object>
        <valueField>Id</valueField>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>SiteOption</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Site_Options__c</picklistField>
        <picklistObject>SBQQ__Quote__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>SubIndustry</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Sub_Industry__c</picklistField>
        <picklistObject>SBQQ__Quote__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>Technology</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Technology__c</picklistField>
        <picklistObject>SBQQ__Quote__c</picklistObject>
    </dynamicChoiceSets>
    <formulas>
        <name>DefaultOppNameValue</name>
        <dataType>String</dataType>
        <expression>{!AccountName.Name} &amp; &quot;-&quot; &amp; TEXT({!$Flow.CurrentDate})</expression>
    </formulas>
    <formulas>
        <name>DefaultQuoteExpDate</name>
        <dataType>Date</dataType>
        <expression>{!$Flow.CurrentDate} + 30</expression>
    </formulas>
    <formulas>
        <name>DraftRecordType</name>
        <dataType>String</dataType>
        <expression>{!$Label.Quote_Record_Type_Draft}</expression>
    </formulas>
    <formulas>
        <name>formulaBusinessArea</name>
        <dataType>String</dataType>
        <expression>IF(ISPICKVAL({!UserSBU.SBU__c}, &quot;MP - EMEA&quot;), TEXT({!AccountName.MP_Business_Area__c}),
IF(ISPICKVAL({!UserSBU.SBU__c}, &quot;EAS - EMEA&quot;), TEXT({!AccountName.AD_Business_Area__c}),
NULL))</expression>
    </formulas>
    <formulas>
        <name>formulaDistributionChannel</name>
        <dataType>String</dataType>
        <expression>IF(ISPICKVAL({!UserSBU.SBU__c}, &quot;MP - EMEA&quot;), TEXT({!AccountName.MP_Distribution_Channel__c}),
IF(ISPICKVAL({!UserSBU.SBU__c}, &quot;RP - EMEA&quot;), TEXT({!AccountName.RP_Distribution_Channel__c}),
IF(ISPICKVAL({!UserSBU.SBU__c}, &quot;EAS - EMEA&quot;), TEXT({!AccountName.AD_Distribution_Channel__c}),
NULL)))</expression>
    </formulas>
    <formulas>
        <name>formulaIndustry</name>
        <dataType>String</dataType>
        <expression>IF(ISPICKVAL({!UserSBU.SBU__c}, &quot;MP - EMEA&quot;), TEXT({!AccountName.MP_Industry__c}),
IF(ISPICKVAL({!UserSBU.SBU__c}, &quot;RP - EMEA&quot;), TEXT({!AccountName.RP_Industry__c}),
IF(ISPICKVAL({!UserSBU.SBU__c}, &quot;EAS - EMEA&quot;), TEXT({!AccountName.AD_Industry__c}),
NULL)))</expression>
    </formulas>
    <formulas>
        <name>formulaLanguage</name>
        <dataType>String</dataType>
        <expression>IF( {!varSAPLanguage.Key__c} = &apos;SCL-EN&apos;, &apos;ENGLISH&apos;,
IF( {!varSAPLanguage.Key__c} = &apos;SCL-DE&apos;, &apos;GERMAN&apos;, 
IF( {!varSAPLanguage.Key__c} = &apos;SCL-NL&apos;, &apos;DUTCH&apos;, 
IF( {!varSAPLanguage.Key__c} = &apos;SCL-FR&apos;, &apos;FRENCH&apos;, 
IF( {!varSAPLanguage.Key__c} = &apos;SCL-IT&apos;, &apos;ITALIAN&apos;,  
IF( {!varSAPLanguage.Key__c} = &apos;SCL-SV&apos;, &apos;SWEDISH&apos;,
&apos;ENGLISH&apos;
))))))</expression>
    </formulas>
    <formulas>
        <description>Limit the SAD choices to the SADs that match the users SBU</description>
        <name>formulaSADLimits</name>
        <dataType>String</dataType>
        <expression>IF(ISPICKVAL ({!UserSBU.SBU__c}, &apos;MP - EMEA&apos;), TEXT(01),
IF(ISPICKVAL ({!UserSBU.SBU__c}, &apos;RP - EMEA&apos;),  TEXT(02),
IF(ISPICKVAL ({!UserSBU.SBU__c}, &apos;EAS - EMEA&apos;),  TEXT(03),
NULL
)))</expression>
    </formulas>
    <formulas>
        <name>OpportunityRecordID</name>
        <dataType>String</dataType>
        <expression>{!$Label.Opportunity_Record_Type_Repeat}</expression>
    </formulas>
    <interviewLabel>Quick Quote {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Quick Quote</label>
    <processType>Flow</processType>
    <recordCreates>
        <name>Create_Opportunity</name>
        <label>Create Opportunity</label>
        <locationX>680</locationX>
        <locationY>352</locationY>
        <assignRecordIdToReference>OppID</assignRecordIdToReference>
        <connector>
            <targetReference>CreateQuote_0</targetReference>
        </connector>
        <inputAssignments>
            <field>AccountId</field>
            <value>
                <elementReference>AccountID</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Amount</field>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CloseDate</field>
            <value>
                <elementReference>Expected_Close_Date</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Name</field>
            <value>
                <elementReference>Opportunity_Name</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <elementReference>OpportunityRecordID</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>StageName</field>
            <value>
                <stringValue>Proposal/Quote</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Type</field>
            <value>
                <elementReference>Opportunity_Type</elementReference>
            </value>
        </inputAssignments>
        <object>Opportunity</object>
    </recordCreates>
    <recordCreates>
        <name>Create_Opportunity_0</name>
        <label>Create Opportunity</label>
        <locationX>292</locationX>
        <locationY>383</locationY>
        <assignRecordIdToReference>OppID</assignRecordIdToReference>
        <connector>
            <targetReference>CreateQuote</targetReference>
        </connector>
        <inputAssignments>
            <field>AccountId</field>
            <value>
                <elementReference>AccountID</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Amount</field>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CloseDate</field>
            <value>
                <elementReference>Expected_Close_Date_EMEA</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CurrencyIsoCode</field>
            <value>
                <elementReference>Currency</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Name</field>
            <value>
                <elementReference>Opportunity_Name_EMEA</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <elementReference>OpportunityRecordID</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Sales_Area_Code__c</field>
            <value>
                <elementReference>varSACode</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Sales_Area_Data__c</field>
            <value>
                <elementReference>varSADID</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Select_Ship_To_SAD__c</field>
            <value>
                <elementReference>Ship_To_Locations</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>StageName</field>
            <value>
                <stringValue>Proposal/Quote</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Type</field>
            <value>
                <elementReference>Opportunity_Type_EMEA</elementReference>
            </value>
        </inputAssignments>
        <object>Opportunity</object>
    </recordCreates>
    <recordCreates>
        <name>CreateQuote</name>
        <label>CreateQuote</label>
        <locationX>428</locationX>
        <locationY>386</locationY>
        <assignRecordIdToReference>QuoteID</assignRecordIdToReference>
        <connector>
            <targetReference>Lookup_Opp_Info</targetReference>
        </connector>
        <inputAssignments>
            <field>Business_Area_EMEA__c</field>
            <value>
                <elementReference>formulaBusinessArea</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Customer_Requested_Date__c</field>
            <value>
                <elementReference>Requested_Delivery_Date</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Distribution_Channel_EMEA__c</field>
            <value>
                <elementReference>formulaDistributionChannel</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Incoterms2_Text__c</field>
            <value>
                <elementReference>AccountName.BillingCity</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Incoterms__c</field>
            <value>
                <elementReference>varIncoterms</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Industry_EMEA__c</field>
            <value>
                <elementReference>formulaIndustry</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Language__c</field>
            <value>
                <elementReference>formulaLanguage</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Payment_Terms_SAP__c</field>
            <value>
                <elementReference>varPaymentTerms</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <elementReference>DraftRecordType</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SBQQ__Account__c</field>
            <value>
                <elementReference>AccountID</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SBQQ__ExpirationDate__c</field>
            <value>
                <elementReference>DefaultQuoteExpDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SBQQ__Opportunity2__c</field>
            <value>
                <elementReference>OppID</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SBQQ__Primary__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SBQQ__Status__c</field>
            <value>
                <stringValue>Draft</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SBQQ__WatermarkShown__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SBU__c</field>
            <value>
                <elementReference>UserSBU.SBU__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Sales_Area_Code__c</field>
            <value>
                <elementReference>varSACode</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Sales_Area_Data__c</field>
            <value>
                <elementReference>varSADID</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Select_Ship_To_SAD__c</field>
            <value>
                <elementReference>Ship_To_Locations</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Shipping_Conditions__c</field>
            <value>
                <elementReference>varShippingConditions</elementReference>
            </value>
        </inputAssignments>
        <object>SBQQ__Quote__c</object>
    </recordCreates>
    <recordCreates>
        <name>CreateQuote_0</name>
        <label>CreateQuote</label>
        <locationX>821</locationX>
        <locationY>357</locationY>
        <assignRecordIdToReference>QuoteID</assignRecordIdToReference>
        <connector>
            <targetReference>Lookup_Opp_Info</targetReference>
        </connector>
        <inputAssignments>
            <field>Industry__c</field>
            <value>
                <elementReference>selectIndustry</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>LOB__c</field>
            <value>
                <elementReference>varLOBID</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <elementReference>DraftRecordType</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SBQQ__Account__c</field>
            <value>
                <elementReference>AccountID</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SBQQ__ExpirationDate__c</field>
            <value>
                <elementReference>DefaultQuoteExpDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SBQQ__Opportunity2__c</field>
            <value>
                <elementReference>OppID</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SBQQ__Primary__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SBQQ__Status__c</field>
            <value>
                <stringValue>Draft</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SBQQ__WatermarkShown__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SBU__c</field>
            <value>
                <elementReference>UserSBU.SBU__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Site_Options__c</field>
            <value>
                <elementReference>selectSiteOptions</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Sub_Industry__c</field>
            <value>
                <elementReference>Sub_Industry</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Technology__c</field>
            <value>
                <elementReference>selectTechnology</elementReference>
            </value>
        </inputAssignments>
        <object>SBQQ__Quote__c</object>
    </recordCreates>
    <recordLookups>
        <name>Get_New_Quote_Information</name>
        <label>Get New Quote Information</label>
        <locationX>579</locationX>
        <locationY>537</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Completed</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>QuoteID</elementReference>
            </value>
        </filters>
        <object>SBQQ__Quote__c</object>
        <outputReference>Quote</outputReference>
        <queriedFields>Name</queriedFields>
        <queriedFields>Id</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>GetAccountName</name>
        <label>GetAccountName</label>
        <locationX>29</locationX>
        <locationY>21</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>GetUserID</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>AccountID</elementReference>
            </value>
        </filters>
        <object>Account</object>
        <outputReference>AccountName</outputReference>
        <queriedFields>Name</queriedFields>
        <queriedFields>MP_Business_Area__c</queriedFields>
        <queriedFields>AD_Business_Area__c</queriedFields>
        <queriedFields>AD_Distribution_Channel__c</queriedFields>
        <queriedFields>MP_Distribution_Channel__c</queriedFields>
        <queriedFields>RP_Distribution_Channel__c</queriedFields>
        <queriedFields>AD_Industry__c</queriedFields>
        <queriedFields>MP_Industry__c</queriedFields>
        <queriedFields>RP_Industry__c</queriedFields>
        <queriedFields>BillingCity</queriedFields>
        <queriedFields>SAP_Customer_Id__c</queriedFields>
        <queriedFields>Customer_Language__c</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>GetSAPLanguage</name>
        <label>GetSAPLanguage</label>
        <locationX>342</locationX>
        <locationY>22</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>EMEA_User_or_Americas_User</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>AccountName.Customer_Language__c</elementReference>
            </value>
        </filters>
        <object>SAP_Reference__c</object>
        <outputReference>varSAPLanguage</outputReference>
        <queriedFields>Name</queriedFields>
        <queriedFields>Key__c</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>GetUserID</name>
        <label>GetUserID</label>
        <locationX>188</locationX>
        <locationY>19</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>GetSAPLanguage</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>UserID</elementReference>
            </value>
        </filters>
        <object>User</object>
        <outputReference>UserSBU</outputReference>
        <queriedFields>SBU__c</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Lookup_Opp_Info</name>
        <label>Lookup Opp Info</label>
        <locationX>430</locationX>
        <locationY>481</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_New_Quote_Information</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>OppID</elementReference>
            </value>
        </filters>
        <object>Opportunity</object>
        <outputReference>Opportunity</outputReference>
        <queriedFields>Name</queriedFields>
    </recordLookups>
    <screens>
        <name>Completed</name>
        <label>Completed</label>
        <locationX>736</locationX>
        <locationY>540</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>DisplayText</name>
            <fieldText>&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:14px&quot; COLOR=&quot;#006600&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;SUCCESS!!!&lt;/FONT&gt;&lt;/DIV&gt;&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;&lt;/FONT&gt;&lt;/DIV&gt;&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;A new Opportunity and Quote have been created:&lt;/FONT&gt;&lt;/DIV&gt;&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;&lt;/FONT&gt;&lt;/DIV&gt;&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;&lt;/FONT&gt;&lt;/DIV&gt;&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;&lt;B&gt;Opportunity&lt;/B&gt;:  {!Opportunity.Name} &lt;/FONT&gt;&lt;/DIV&gt;&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;&lt;B&gt;Quote&lt;/B&gt; {!Quote.Name}&lt;/FONT&gt;&lt;/DIV&gt;&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;&lt;/FONT&gt;&lt;/DIV&gt;&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;&lt;/FONT&gt;&lt;/DIV&gt;&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;The new records are listed in Opportunities and Quotes lists on this Account record.&lt;/FONT&gt;&lt;/DIV&gt;&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;&lt;/FONT&gt;&lt;/DIV&gt;&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;&lt;/FONT&gt;&lt;/DIV&gt;&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;Click Finish to complete the process.&lt;/FONT&gt;&lt;/DIV&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
    </screens>
    <screens>
        <name>Gather_Quote_and_Opportunity_Information</name>
        <label>Gather Quote and Opportunity Information</label>
        <locationX>679</locationX>
        <locationY>165</locationY>
        <allowBack>true</allowBack>
        <allowFinish>false</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Requirements_SBU_LOB</targetReference>
        </connector>
        <fields>
            <name>Display</name>
            <fieldText>&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;1&quot;&gt;&lt;B&gt;&lt;I&gt;Include meaningful text at the end of the opportunity name. &lt;/I&gt;&lt;/B&gt;&lt;/FONT&gt;&lt;/DIV&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Opportunity_Name</name>
            <dataType>String</dataType>
            <fieldText>Opportunity Name</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Display2</name>
            <fieldText>&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;1&quot;&gt;&lt;B&gt;&lt;I&gt;Input the Expected Close Date of the Opportunity.&lt;/I&gt;&lt;/B&gt;&lt;/FONT&gt;&lt;/DIV&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Expected_Close_Date</name>
            <dataType>Date</dataType>
            <fieldText>Expected Close Date</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Opportunity_Type</name>
            <choiceReferences>OppType</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Opportunity Type</fieldText>
            <fieldType>DropdownBox</fieldType>
            <helpText>New - No EnerSys product in place currently. 
Replacement - Replacing an EnerSys product.
Unknown - Currently unknown status.</helpText>
            <isRequired>false</isRequired>
        </fields>
    </screens>
    <screens>
        <name>Gather_Quote_and_Opportunity_Information_0</name>
        <label>Gather Quote and Opportunity Information</label>
        <locationX>347</locationX>
        <locationY>170</locationY>
        <allowBack>true</allowBack>
        <allowFinish>false</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Set_the_Sales_Area_Data</targetReference>
        </connector>
        <fields>
            <name>Display_0</name>
            <fieldText>&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;&lt;B&gt;&lt;I&gt;Include meaningful text at the end of the opportunity name.&lt;/I&gt;&lt;/B&gt;&lt;B&gt; &lt;/B&gt;&lt;/FONT&gt;&lt;/DIV&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Opportunity_Name_EMEA</name>
            <dataType>String</dataType>
            <fieldText>Opportunity Name</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Display2_0</name>
            <fieldText>&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;&lt;B&gt;&lt;I&gt;Input the Expected Close Date of the Opportunity and the Requested Delivery Date for the product. &lt;/I&gt;&lt;/B&gt;&lt;/FONT&gt;&lt;/DIV&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Expected_Close_Date_EMEA</name>
            <dataType>Date</dataType>
            <fieldText>Expected Close Date</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Requested_Delivery_Date</name>
            <dataType>Date</dataType>
            <fieldText>Requested Delivery Date</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Display3_0</name>
            <fieldText>&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;&lt;B&gt;&lt;I&gt;Select the type of opportunity.&lt;/I&gt;&lt;/B&gt;&lt;/FONT&gt;&lt;/DIV&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Opportunity_Type_EMEA</name>
            <choiceReferences>OppType</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Opportunity Type</fieldText>
            <fieldType>DropdownBox</fieldType>
            <helpText>New - No EnerSys product in place currently. 
Replacement - Replacing an EnerSys product.
Unknown - Currently unknown status.</helpText>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>LanguageAndCurrency</name>
            <fieldText>&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;&lt;B&gt;&lt;I&gt;Select the currency. &lt;/I&gt;&lt;/B&gt;&lt;/FONT&gt;&lt;/DIV&gt;&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;&lt;I&gt;Once set, this cannot be changed. You will need to create a new quote to change the currency. &lt;/I&gt;&lt;/FONT&gt;&lt;/DIV&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Currency</name>
            <choiceReferences>picklistCurrencySupported</choiceReferences>
            <choiceReferences>choiceEuro</choiceReferences>
            <dataType>String</dataType>
            <defaultSelectedChoiceReference>choiceEuro</defaultSelectedChoiceReference>
            <fieldText>Currency</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>false</isRequired>
        </fields>
    </screens>
    <screens>
        <name>Requirements_SBU_LOB</name>
        <label>Requirements: SBU &amp; LOB</label>
        <locationX>823</locationX>
        <locationY>168</locationY>
        <allowBack>true</allowBack>
        <allowFinish>false</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Selecting_LOB</targetReference>
        </connector>
        <fields>
            <name>SelectSBU</name>
            <fieldText>&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;&lt;B&gt;&lt;I&gt;Please select the quote classifications. The sub-industry, where relevevant, will be selected on the next screen.&lt;/I&gt;&lt;/B&gt;&lt;/FONT&gt;&lt;/DIV&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>selectTechnology</name>
            <choiceReferences>picklistTechnology</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Technology</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>selectSiteOptions</name>
            <choiceReferences>picklistSiteOptions</choiceReferences>
            <choiceReferences>pickvalNone</choiceReferences>
            <dataType>String</dataType>
            <defaultSelectedChoiceReference>pickvalNone</defaultSelectedChoiceReference>
            <fieldText>Site Options</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>selectIndustry</name>
            <choiceReferences>picklistIndustry</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Industry</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>SearchLOB</name>
            <fieldText>&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;&lt;B&gt;&lt;I&gt;Please search for the LOB using the first few letters of the name or the LOB #. You will need to click Next to see the list of options.&lt;/I&gt;&lt;/B&gt;&lt;/FONT&gt;&lt;/DIV&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>LOB</name>
            <dataType>String</dataType>
            <fieldText>LOB</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
    </screens>
    <screens>
        <name>screenEMEAProspect</name>
        <label>EMEA Prospect</label>
        <locationX>30</locationX>
        <locationY>166</locationY>
        <allowBack>true</allowBack>
        <allowFinish>false</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>CreateQuoteError</name>
            <fieldText>&lt;DIV ALIGN=&quot;CENTER&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:16px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;&lt;B&gt;Unable to Create Quick Quote&lt;/B&gt;&lt;/FONT&gt;&lt;/DIV&gt;&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;&lt;/FONT&gt;&lt;/DIV&gt;&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;The sold to account you have selected is not a customer in SAP. Please use the standard quoting process to create the initial quote for this account. &lt;/FONT&gt;&lt;/DIV&gt;&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;&lt;/FONT&gt;&lt;/DIV&gt;&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;Prior to quoting this account, please confirm that the account has at least one business classification, an address, and a Sales Area Data. &lt;/FONT&gt;&lt;/DIV&gt;&lt;DIV ALIGN=&quot;CENTER&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;&lt;/FONT&gt;&lt;/DIV&gt;&lt;DIV ALIGN=&quot;CENTER&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;Click Cancel to return to the account record. &lt;/FONT&gt;&lt;/DIV&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
    </screens>
    <screens>
        <name>Select_Ship_To_Data</name>
        <label>Select Ship To Data</label>
        <locationX>345</locationX>
        <locationY>256</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Create_Opportunity_0</targetReference>
        </connector>
        <fields>
            <name>SelectShipTo</name>
            <fieldText>&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;&lt;B&gt;&lt;I&gt;Select the Ship To location.&lt;/I&gt;&lt;/B&gt;&lt;/FONT&gt;&lt;/DIV&gt;&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:10px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;If the location is not available, you can select another value to finish creating the quote or abort the quote creation. You will need to work with the back office to get the location added to SAP so it will be available to select. &lt;/FONT&gt;&lt;/DIV&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Ship_To_Locations</name>
            <choiceReferences>selectShipToData</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Ship To Locations</fieldText>
            <fieldType>RadioButtons</fieldType>
            <isRequired>true</isRequired>
        </fields>
    </screens>
    <screens>
        <name>Selecting_LOB</name>
        <label>Selecting LOB</label>
        <locationX>680</locationX>
        <locationY>261</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Create_Opportunity</targetReference>
        </connector>
        <fields>
            <name>SubIndustryInstructions</name>
            <fieldText>&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;&lt;B&gt;&lt;I&gt;Select Sub-Industry if relevant.&lt;/I&gt;&lt;/B&gt;&lt;/FONT&gt;&lt;/DIV&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Sub_Industry</name>
            <choiceReferences>picklistSubIndustry</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Sub-Industry</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>LOBMatchInstructions</name>
            <fieldText>&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;&lt;B&gt;&lt;I&gt;Select the appropriate LOB. If you do not show any values, use the Previous button to go back a screen to adjust your search criteria. &lt;/I&gt;&lt;/B&gt;&lt;/FONT&gt;&lt;/DIV&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Matching_LOBs</name>
            <choiceReferences>MatchingLOBChoices</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Matching LOBs</fieldText>
            <fieldType>RadioButtons</fieldType>
            <isRequired>false</isRequired>
        </fields>
    </screens>
    <screens>
        <name>Set_the_Sales_Area_Data</name>
        <label>Set the Sales Area Data</label>
        <locationX>498</locationX>
        <locationY>174</locationY>
        <allowBack>true</allowBack>
        <allowFinish>false</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Select_Ship_To_Data</targetReference>
        </connector>
        <fields>
            <name>Display_0_0</name>
            <fieldText>&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;&lt;B&gt;Select the Sales Area Data. If you do not have any selections available, confirm that there is a Sales Area Data for your Business Unit. &lt;/B&gt;&lt;/FONT&gt;&lt;/DIV&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Sales_Area_Data</name>
            <choiceReferences>selectSalesAreaData</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Sales Area Data</fieldText>
            <fieldType>RadioButtons</fieldType>
            <isRequired>true</isRequired>
        </fields>
    </screens>
    <startElementReference>GetAccountName</startElementReference>
    <variables>
        <description>The AccountID passed to the Flow to create the Quote and The Opportunity records</description>
        <name>AccountID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>AccountName</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Account</objectType>
    </variables>
    <variables>
        <description>Opportunity ID created for this Quick Quote</description>
        <name>OppID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Opportunity</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Opportunity</objectType>
    </variables>
    <variables>
        <name>Pricebooks</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <objectType>Pricebook2</objectType>
    </variables>
    <variables>
        <name>Quote</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>SBQQ__Quote__c</objectType>
    </variables>
    <variables>
        <description>Quote ID generated from this process</description>
        <name>QuoteID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>UserID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>UserSBU</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>User</objectType>
    </variables>
    <variables>
        <name>varIncoterms</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>varIndustry</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varLOBID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>varLOBName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>varPaymentTerms</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>varPricebook</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varSACode</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varSADID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <stringValue></stringValue>
        </value>
    </variables>
    <variables>
        <name>varSAPLanguage</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>SAP_Reference__c</objectType>
    </variables>
    <variables>
        <name>varShippingConditions</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>varSiteOptions</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varSubIndustry</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varTechnology</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
