forEnersys/DavePkg/flows/CreateOrder-1.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <assignments>
        <name>AddLineItems_to_Collection</name>
        <label>AddLineItems to Collection</label>
        <locationX>323</locationX>
        <locationY>791</locationY>
        <assignmentItems>
            <assignToReference>scolOrderLineItems</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>sobjOrderItem</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Through_Line_Items</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>CopyLineItems</name>
        <label>CopyLineItems</label>
        <locationX>553</locationX>
        <locationY>647</locationY>
        <assignmentItems>
            <assignToReference>sobjOrderItem.Product2Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>sobjQuoteLine.SBQQ__Product__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>sobjOrderItem.Quantity</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>sobjQuoteLine.SBQQ__Quantity__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>sobjOrderItem.LOB__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>sobjQuoteLine.LOB__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>sobjOrderItem.Lead_Time__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>sobjQuoteLine.Lead_Time__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>sobjOrderItem.OrderId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>varOrderID</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>sobjOrderItem.Line_Notes__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>sobjQuoteLine.Line_Notes__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>sobjOrderItem.SBQQ__QuoteLine__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>sobjQuoteLine.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>sobjOrderItem.ListPrice</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>sobjQuoteLine.SBQQ__ListPrice__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>sobjOrderItem.PricebookEntryId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>varPriceBookEntryID</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>sobjOrderItem.UnitPrice</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>sobjQuoteLine.SBQQ__NetPrice__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>sobjOrderItem.OrderItemNumber</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>sobjQuoteLine.SBQQ__Number__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>sobjOrderItem.SBQQ__TotalAmount__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>sobjQuoteLine.SBQQ__NetTotal__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>AddLineItems_to_Collection</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>IsPrimaryQuote</name>
        <label>IsPrimaryQuote</label>
        <locationX>82</locationX>
        <locationY>167</locationY>
        <defaultConnector>
            <targetReference>GetOrderInformation</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>ContinueWithFlow</defaultConnectorLabel>
        <rules>
            <name>Quote_is_not_Primary</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>sobjQuote.SBQQ__Primary__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Primary_Quote_Requirement</targetReference>
            </connector>
            <label>Quote is not Primary</label>
        </rules>
    </decisions>
    <dynamicChoiceSets>
        <name>QuoteLineItems</name>
        <dataType>String</dataType>
        <displayField>SBQQ__ProductName__c</displayField>
        <filters>
            <field>SBQQ__Quote__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varQuoteID</elementReference>
            </value>
        </filters>
        <object>SBQQ__QuoteLine__c</object>
        <outputAssignments>
            <assignToReference>sobjQuoteLine.SBQQ__ProductName__c</assignToReference>
            <field>SBQQ__ProductName__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>sobjQuoteLine.SBQQ__Quantity__c</assignToReference>
            <field>SBQQ__Quantity__c</field>
        </outputAssignments>
        <valueField>Name</valueField>
    </dynamicChoiceSets>
    <formulas>
        <name>OrderRecordTypeAmericas</name>
        <dataType>String</dataType>
        <expression>{!$Label.Order_Record_Type_Americas_Order}</expression>
    </formulas>
    <interviewLabel>CreateOrder {!$Flow.CurrentDateTime}</interviewLabel>
    <label>CreateOrder</label>
    <loops>
        <name>Loop_Through_Line_Items</name>
        <label>Loop Through Line Items</label>
        <locationX>66</locationX>
        <locationY>660</locationY>
        <assignNextValueToReference>sobjQuoteLine</assignNextValueToReference>
        <collectionReference>scolQuoteLineItems</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>LookUpPriceBookEntryID</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>CreateOrderItems</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processType>Flow</processType>
    <recordCreates>
        <name>Create_New_Order</name>
        <label>Create New Order</label>
        <locationX>76</locationX>
        <locationY>506</locationY>
        <assignRecordIdToReference>varOrderID</assignRecordIdToReference>
        <connector>
            <targetReference>Loop_Through_Line_Items</targetReference>
        </connector>
        <inputAssignments>
            <field>AccountId</field>
            <value>
                <elementReference>sobjQuote.SBQQ__Account__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Bill_To_Lookup__c</field>
            <value>
                <elementReference>sobjQuote.Bill_To_Lookup__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Billing_City__c</field>
            <value>
                <elementReference>sobjQuote.SBQQ__BillingCity__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Billing_Country__c</field>
            <value>
                <elementReference>sobjQuote.SBQQ__BillingCountry__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Billing_Postal_Code__c</field>
            <value>
                <elementReference>sobjQuote.SBQQ__BillingPostalCode__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Billing_State__c</field>
            <value>
                <elementReference>sobjQuote.SBQQ__BillingState__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Billing_Street_1__c</field>
            <value>
                <elementReference>sobjQuote.SBQQ__BillingStreet__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Delivery_Terms__c</field>
            <value>
                <elementReference>sobjQuote.Delivery_Terms__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>EffectiveDate</field>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>End_User__c</field>
            <value>
                <elementReference>sobjQuote.End_User__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>LOB__c</field>
            <value>
                <elementReference>sobjQuote.LOB__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Notes__c</field>
            <value>
                <elementReference>sobjQuote.SBQQ__Notes__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OpportunityId</field>
            <value>
                <elementReference>sobjQuote.SBQQ__Opportunity2__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>PoDate</field>
            <value>
                <elementReference>PO_Date</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>PoNumber</field>
            <value>
                <elementReference>PO_Number</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Pricebook2Id</field>
            <value>
                <elementReference>sobjQuote.SBQQ__PricebookId__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <elementReference>OrderRecordTypeAmericas</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SBQQ__Quote__c</field>
            <value>
                <elementReference>varQuoteID</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Sales_Rep__c</field>
            <value>
                <elementReference>sobjQuote.SBQQ__SalesRep__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Select_Shipping_Address__c</field>
            <value>
                <elementReference>sobjQuote.Select_Shipping_Address__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Shipping_City__c</field>
            <value>
                <elementReference>sobjQuote.SBQQ__ShippingCity__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Shipping_Country__c</field>
            <value>
                <elementReference>sobjQuote.SBQQ__ShippingCountry__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Shipping_Postal_code__c</field>
            <value>
                <elementReference>sobjQuote.SBQQ__ShippingPostalCode__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Shipping_State__c</field>
            <value>
                <elementReference>sobjQuote.SBQQ__ShippingState__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Shipping_Street_1__c</field>
            <value>
                <elementReference>sobjQuote.SBQQ__ShippingStreet__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Draft</stringValue>
            </value>
        </inputAssignments>
        <object>Order</object>
    </recordCreates>
    <recordCreates>
        <name>CreateOrderItems</name>
        <label>CreateOrderItems</label>
        <locationX>78</locationX>
        <locationY>850</locationY>
        <connector>
            <targetReference>GetNewOrderInformation</targetReference>
        </connector>
        <inputReference>scolOrderLineItems</inputReference>
    </recordCreates>
    <recordLookups>
        <name>ColQuoteLineItems</name>
        <label>ColQuoteLineItems</label>
        <locationX>75</locationX>
        <locationY>393</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Create_New_Order</targetReference>
        </connector>
        <filters>
            <field>SBQQ__Quote__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varQuoteID</elementReference>
            </value>
        </filters>
        <object>SBQQ__QuoteLine__c</object>
        <outputReference>scolQuoteLineItems</outputReference>
        <queriedFields>SBQQ__Quantity__c</queriedFields>
        <queriedFields>SBQQ__Product__c</queriedFields>
        <queriedFields>SBQQ__Description__c</queriedFields>
        <queriedFields>Lead_Time__c</queriedFields>
        <queriedFields>LOB__c</queriedFields>
        <queriedFields>SBQQ__NetPrice__c</queriedFields>
        <queriedFields>Id</queriedFields>
        <queriedFields>Line_Notes__c</queriedFields>
        <queriedFields>SBQQ__ListPrice__c</queriedFields>
        <queriedFields>SBQQ__Number__c</queriedFields>
        <queriedFields>SBQQ__NetTotal__c</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>GetNewOrderInformation</name>
        <label>GetNewOrderInformation</label>
        <locationX>95</locationX>
        <locationY>952</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Completed</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varOrderID</elementReference>
            </value>
        </filters>
        <object>Order</object>
        <outputReference>sobjOrder</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>OrderNumber</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>GetQuoteInformation</name>
        <label>GetQuoteInformation</label>
        <locationX>85</locationX>
        <locationY>56</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>IsPrimaryQuote</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varQuoteID</elementReference>
            </value>
        </filters>
        <object>SBQQ__Quote__c</object>
        <outputReference>sobjQuote</outputReference>
        <queriedFields>Delivery_Terms__c</queriedFields>
        <queriedFields>LOB__c</queriedFields>
        <queriedFields>SBQQ__SalesRep__c</queriedFields>
        <queriedFields>End_User__c</queriedFields>
        <queriedFields>SBQQ__ShippingCity__c</queriedFields>
        <queriedFields>SBQQ__ShippingName__c</queriedFields>
        <queriedFields>SBQQ__ShippingPostalCode__c</queriedFields>
        <queriedFields>SBQQ__ShippingStreet__c</queriedFields>
        <queriedFields>SBQQ__BillingCity__c</queriedFields>
        <queriedFields>SBQQ__BillingName__c</queriedFields>
        <queriedFields>SBQQ__BillingPostalCode__c</queriedFields>
        <queriedFields>SBQQ__BillingState__c</queriedFields>
        <queriedFields>SBQQ__BillingStreet__c</queriedFields>
        <queriedFields>SBQQ__Opportunity2__c</queriedFields>
        <queriedFields>SBQQ__ShippingState__c</queriedFields>
        <queriedFields>SBQQ__Account__c</queriedFields>
        <queriedFields>SBQQ__PricebookId__c</queriedFields>
        <queriedFields>Bill_To_Lookup__c</queriedFields>
        <queriedFields>Select_Shipping_Address__c</queriedFields>
        <queriedFields>SBQQ__Primary__c</queriedFields>
        <queriedFields>SBQQ__Notes__c</queriedFields>
        <queriedFields>SBQQ__BillingCountry__c</queriedFields>
        <queriedFields>SBQQ__ShippingCountry__c</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>LookUpPriceBookEntryID</name>
        <label>LookUpPriceBookEntryID</label>
        <locationX>332</locationX>
        <locationY>465</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>CopyLineItems</targetReference>
        </connector>
        <filters>
            <field>Pricebook2Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>sobjQuote.SBQQ__PricebookId__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>Product2Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>sobjQuoteLine.SBQQ__Product__c</elementReference>
            </value>
        </filters>
        <object>PricebookEntry</object>
        <outputAssignments>
            <assignToReference>varPriceBookEntryID</assignToReference>
            <field>Id</field>
        </outputAssignments>
    </recordLookups>
    <screens>
        <name>Completed</name>
        <label>Completed</label>
        <locationX>97</locationX>
        <locationY>1071</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>DisplayText</name>
            <fieldText>&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:14px&quot; COLOR=&quot;#006600&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;SUCCESS!!!&lt;/FONT&gt;&lt;/DIV&gt;&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;&lt;/FONT&gt;&lt;/DIV&gt;&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;A new Order has been created:&lt;/FONT&gt;&lt;/DIV&gt;&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;&lt;/FONT&gt;&lt;/DIV&gt;&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;Order:  &lt;FONT KERNING=&quot;1&quot;&gt;{!sobjOrder.OrderNumber}&lt;/FONT&gt;&lt;/FONT&gt;&lt;/DIV&gt;&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;&lt;/FONT&gt;&lt;/DIV&gt;&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;Click Finish to complete the process.&lt;/FONT&gt;&lt;/DIV&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
    </screens>
    <screens>
        <name>GetOrderInformation</name>
        <label>GetOrderInformation</label>
        <locationX>78</locationX>
        <locationY>284</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>ColQuoteLineItems</targetReference>
        </connector>
        <fields>
            <name>displayPOInstructions</name>
            <fieldText>Enter a PO Number</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>PO_Number</name>
            <dataType>String</dataType>
            <fieldText>PO Number</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>PO_Date</name>
            <dataType>Date</dataType>
            <fieldText>PO Date</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
    </screens>
    <screens>
        <name>Primary_Quote_Requirement</name>
        <label>Primary Quote Requirement</label>
        <locationX>350</locationX>
        <locationY>170</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>QuoteNotPrimaryMessage</name>
            <fieldText>Quote must be marked as primary before an order can be created.

Click Finish to return to the Quote.</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
    </screens>
    <startElementReference>GetQuoteInformation</startElementReference>
    <variables>
        <name>scolOrderLineItems</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>OrderItem</objectType>
    </variables>
    <variables>
        <name>scolQuoteLineItems</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>SBQQ__QuoteLine__c</objectType>
    </variables>
    <variables>
        <name>sobjOrder</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Order</objectType>
    </variables>
    <variables>
        <name>sobjOrderItem</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>OrderItem</objectType>
    </variables>
    <variables>
        <name>sobjQuote</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>SBQQ__Quote__c</objectType>
    </variables>
    <variables>
        <name>sobjQuoteLine</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>SBQQ__QuoteLine__c</objectType>
    </variables>
    <variables>
        <name>varCatNo</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varLeadTime</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varLOB</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varOpportunityID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varOrderID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>varPrice</name>
        <dataType>Currency</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
    </variables>
    <variables>
        <name>varPriceBookEntryID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varQty</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
    </variables>
    <variables>
        <name>varQuoteID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
</Flow>
