forEnersys/DavePkg/flows/EndUserAccount-1.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <assignments>
        <name>EUAID2</name>
        <label>EUAID</label>
        <locationX>752</locationX>
        <locationY>286</locationY>
        <assignmentItems>
            <assignToReference>EUAID</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>AccountRecordChoice</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <choices>
        <name>nullvalue</name>
        <choiceText>--nullvalue--</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue></stringValue>
        </value>
    </choices>
    <decisions>
        <name>EndUserAccountsFound2</name>
        <label>EndUserAccountsFound</label>
        <locationX>502</locationX>
        <locationY>153</locationY>
        <defaultConnector>
            <targetReference>NoValueList</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>EndUserAccountsSet2</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>AccountRecordSet</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>AccountList</targetReference>
            </connector>
            <label>EndUserAccountsSet</label>
        </rules>
    </decisions>
    <decisions>
        <name>Search_Term_Entered2</name>
        <label>Search Term Entered</label>
        <locationX>105</locationX>
        <locationY>152</locationY>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>Search_Accounts2</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Search_Account_Term</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue></stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>EndUserRecordLookup2</targetReference>
            </connector>
            <label>Search Accounts</label>
        </rules>
    </decisions>
    <dynamicChoiceSets>
        <name>AccountRecordChoice</name>
        <dataType>String</dataType>
        <displayField>Name</displayField>
        <filters>
            <field>Name</field>
            <operator>Contains</operator>
            <value>
                <elementReference>Search_Account_Term</elementReference>
            </value>
        </filters>
        <limit>20</limit>
        <object>Account</object>
        <sortField>Name</sortField>
        <sortOrder>Asc</sortOrder>
        <valueField>Id</valueField>
    </dynamicChoiceSets>
    <interviewLabel>EndUserAccount {!$Flow.CurrentDateTime}</interviewLabel>
    <label>EndUserAccount</label>
    <processType>Flow</processType>
    <recordLookups>
        <name>EndUserRecordLookup2</name>
        <label>EndUserRecordLookup</label>
        <locationX>330</locationX>
        <locationY>152</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>EndUserAccountsFound2</targetReference>
        </connector>
        <filters>
            <field>Name</field>
            <operator>Contains</operator>
            <value>
                <elementReference>Search_Account_Term</elementReference>
            </value>
        </filters>
        <object>Account</object>
        <outputReference>AccountRecordSet</outputReference>
        <queriedFields>Name</queriedFields>
        <queriedFields>Id</queriedFields>
    </recordLookups>
    <screens>
        <name>AccountList</name>
        <label>AccountList</label>
        <locationX>748</locationX>
        <locationY>150</locationY>
        <allowBack>true</allowBack>
        <allowFinish>false</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>EUAID2</targetReference>
        </connector>
        <fields>
            <name>AccountDropList</name>
            <choiceReferences>AccountRecordChoice</choiceReferences>
            <dataType>String</dataType>
            <fieldText>AccountList</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>false</isRequired>
        </fields>
    </screens>
    <screens>
        <name>End_User_Acct_Input</name>
        <label>End User Input</label>
        <locationX>108</locationX>
        <locationY>48</locationY>
        <allowBack>true</allowBack>
        <allowFinish>false</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Search_Term_Entered2</targetReference>
        </connector>
        <fields>
            <name>Search_Account_Term</name>
            <dataType>String</dataType>
            <fieldText>Search Term</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
    </screens>
    <screens>
        <name>NoValueList</name>
        <label>NoValueList</label>
        <locationX>501</locationX>
        <locationY>283</locationY>
        <allowBack>true</allowBack>
        <allowFinish>false</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>Novaluelist2</name>
            <choiceReferences>nullvalue</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Novaluelist</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>false</isRequired>
        </fields>
    </screens>
    <startElementReference>End_User_Acct_Input</startElementReference>
    <variables>
        <name>AccountRecordSet</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Account</objectType>
    </variables>
    <variables>
        <name>EUAID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
</Flow>
