forEnersys/DavePkg/flows/Quick_Quote-3.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <choices>
        <name>IndustryChoice</name>
        <choiceText>IndustryChoice</choiceText>
        <dataType>String</dataType>
        <value>
            <elementReference>Industry</elementReference>
        </value>
    </choices>
    <choices>
        <name>pickvalNone</name>
        <choiceText>None</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>None</stringValue>
        </value>
    </choices>
    <dynamicChoiceSets>
        <name>Industry</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Industry__c</picklistField>
        <picklistObject>SBQQ__Quote__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>MatchingLOBChoices</name>
        <dataType>String</dataType>
        <displayField>Name</displayField>
        <filters>
            <field>Name</field>
            <operator>Contains</operator>
            <value>
                <elementReference>LOB</elementReference>
            </value>
        </filters>
        <limit>100</limit>
        <object>LOB__c</object>
        <outputAssignments>
            <assignToReference>varLOBID</assignToReference>
            <field>Id</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>varLOBName</assignToReference>
            <field>Name</field>
        </outputAssignments>
        <valueField>Name</valueField>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>OppType</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Type</picklistField>
        <picklistObject>Opportunity</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>picklistIndustry</name>
        <dataType>String</dataType>
        <displayField>Dependent_Field_Value__c</displayField>
        <filters>
            <field>Controlling_Field_API_Name__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>SBU__c</stringValue>
            </value>
        </filters>
        <filters>
            <field>Controlling_Field_Value__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>UserSBU.SBU__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>Dependent_Field_API_Name__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Industry__c</stringValue>
            </value>
        </filters>
        <filters>
            <field>Object_Name_for_Dependent_Picklist__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>SBQQ__Quote__c</stringValue>
            </value>
        </filters>
        <object>Dependent_Picklist_Values__mdt</object>
        <outputAssignments>
            <assignToReference>varIndustry</assignToReference>
            <field>Dependent_Field_Value__c</field>
        </outputAssignments>
        <valueField>Dependent_Field_Value__c</valueField>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>picklistPriceBook</name>
        <dataType>String</dataType>
        <displayField>Dependent_Field_Value__c</displayField>
        <filters>
            <field>Controlling_Field_Value__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>SBU__c</stringValue>
            </value>
        </filters>
        <filters>
            <field>Controlling_Field_Value__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>UserSBU.SBU__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>Dependent_Field_API_Name__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Pricebook__c</stringValue>
            </value>
        </filters>
        <filters>
            <field>Object_Name_for_Dependent_Picklist__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>User</stringValue>
            </value>
        </filters>
        <object>Dependent_Picklist_Values__mdt</object>
        <outputAssignments>
            <assignToReference>varPricebook</assignToReference>
            <field>Dependent_Field_Value__c</field>
        </outputAssignments>
        <valueField>Dependent_Field_Value__c</valueField>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>picklistSiteOptions</name>
        <dataType>String</dataType>
        <displayField>Dependent_Field_Value__c</displayField>
        <filters>
            <field>Controlling_Field_API_Name__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>SBU__c</stringValue>
            </value>
        </filters>
        <filters>
            <field>Controlling_Field_Value__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>UserSBU.SBU__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>Dependent_Field_API_Name__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Site_Options__c</stringValue>
            </value>
        </filters>
        <filters>
            <field>Object_Name_for_Dependent_Picklist__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>SBQQ__Quote__c</stringValue>
            </value>
        </filters>
        <object>Dependent_Picklist_Values__mdt</object>
        <outputAssignments>
            <assignToReference>varSiteOptions</assignToReference>
            <field>Dependent_Field_Value__c</field>
        </outputAssignments>
        <sortField>Dependent_Field_Value__c</sortField>
        <sortOrder>Asc</sortOrder>
        <valueField>Dependent_Field_Value__c</valueField>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>picklistSubIndustry</name>
        <dataType>String</dataType>
        <displayField>Dependent_Field_Value__c</displayField>
        <filters>
            <field>Controlling_Field_API_Name__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Industry__c</stringValue>
            </value>
        </filters>
        <filters>
            <field>Controlling_Field_Value__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>selectIndustry</elementReference>
            </value>
        </filters>
        <filters>
            <field>Dependent_Field_API_Name__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Sub_Industry__c</stringValue>
            </value>
        </filters>
        <filters>
            <field>Object_Name_for_Dependent_Picklist__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>SBQQ__Quote__c</stringValue>
            </value>
        </filters>
        <object>Dependent_Picklist_Values__mdt</object>
        <outputAssignments>
            <assignToReference>varSubIndustry</assignToReference>
            <field>Dependent_Field_Value__c</field>
        </outputAssignments>
        <sortField>Dependent_Field_Value__c</sortField>
        <sortOrder>Asc</sortOrder>
        <valueField>Dependent_Field_Value__c</valueField>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>picklistSubIndustry2</name>
        <dataType>String</dataType>
        <displayField>Dependent_Field_Value__c</displayField>
        <filters>
            <field>Controlling_Field_API_Name__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>industry__c</stringValue>
            </value>
        </filters>
        <filters>
            <field>Controlling_Field_Value__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>selectIndustry</elementReference>
            </value>
        </filters>
        <filters>
            <field>Dependent_Field_API_Name__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Sub_Industry__c</stringValue>
            </value>
        </filters>
        <filters>
            <field>Object_Name_for_Dependent_Picklist__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>SBQQ__Quote__c</stringValue>
            </value>
        </filters>
        <object>Dependent_Picklist_Values__mdt</object>
        <outputAssignments>
            <assignToReference>varSubIndustry</assignToReference>
            <field>Dependent_Field_Value__c</field>
        </outputAssignments>
        <valueField>Dependent_Field_Value__c</valueField>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>picklistTechnology</name>
        <dataType>String</dataType>
        <displayField>Dependent_Field_Value__c</displayField>
        <filters>
            <field>Controlling_Field_API_Name__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>SBU__c</stringValue>
            </value>
        </filters>
        <filters>
            <field>Controlling_Field_Value__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>UserSBU.SBU__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>Dependent_Field_API_Name__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Technology__c</stringValue>
            </value>
        </filters>
        <filters>
            <field>Object_Name_for_Dependent_Picklist__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>SBQQ__Quote__c</stringValue>
            </value>
        </filters>
        <object>Dependent_Picklist_Values__mdt</object>
        <outputAssignments>
            <assignToReference>varTechnology</assignToReference>
            <field>Dependent_Field_Value__c</field>
        </outputAssignments>
        <valueField>Dependent_Field_Value__c</valueField>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>SBU</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>SBU__c</picklistField>
        <picklistObject>SBQQ__Quote__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>SiteOption</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Site_Options__c</picklistField>
        <picklistObject>SBQQ__Quote__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>SubIndustry</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Sub_Industry__c</picklistField>
        <picklistObject>SBQQ__Quote__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>Technology</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Technology__c</picklistField>
        <picklistObject>SBQQ__Quote__c</picklistObject>
    </dynamicChoiceSets>
    <formulas>
        <name>DefaultOppNameValue</name>
        <dataType>String</dataType>
        <expression>{!AccountName.Name} &amp; &quot;-&quot; &amp; TEXT({!$Flow.CurrentDate})</expression>
    </formulas>
    <formulas>
        <name>DefaultQuoteExpDate</name>
        <dataType>Date</dataType>
        <expression>{!$Flow.CurrentDate} + 30</expression>
    </formulas>
    <formulas>
        <name>DraftRecordType</name>
        <dataType>String</dataType>
        <expression>{!$Label.Quote_Record_Type_Draft}</expression>
    </formulas>
    <formulas>
        <name>OpportunityRecordID</name>
        <dataType>String</dataType>
        <expression>{!$Label.Opportunity_Record_Type_Repeat}</expression>
    </formulas>
    <interviewLabel>Quick Quote {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Quick Quote</label>
    <processType>Flow</processType>
    <recordCreates>
        <name>Create_Opportunity</name>
        <label>Create Opportunity</label>
        <locationX>71</locationX>
        <locationY>252</locationY>
        <assignRecordIdToReference>OppID</assignRecordIdToReference>
        <connector>
            <targetReference>CreateQuote</targetReference>
        </connector>
        <inputAssignments>
            <field>AccountId</field>
            <value>
                <elementReference>AccountID</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Amount</field>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CloseDate</field>
            <value>
                <elementReference>Expected_Close_Date</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Name</field>
            <value>
                <elementReference>Opportunity_Name</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <elementReference>OpportunityRecordID</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>StageName</field>
            <value>
                <stringValue>Proposal/Quote</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Type</field>
            <value>
                <elementReference>Opportunity_Type</elementReference>
            </value>
        </inputAssignments>
        <object>Opportunity</object>
    </recordCreates>
    <recordCreates>
        <name>CreateQuote</name>
        <label>CreateQuote</label>
        <locationX>83</locationX>
        <locationY>332</locationY>
        <assignRecordIdToReference>QuoteID</assignRecordIdToReference>
        <connector>
            <targetReference>Lookup_Opp_Info</targetReference>
        </connector>
        <inputAssignments>
            <field>Industry__c</field>
            <value>
                <elementReference>selectIndustry</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>LOB__c</field>
            <value>
                <elementReference>varLOBID</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <elementReference>DraftRecordType</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SBQQ__Account__c</field>
            <value>
                <elementReference>AccountID</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SBQQ__ExpirationDate__c</field>
            <value>
                <elementReference>DefaultQuoteExpDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SBQQ__Opportunity2__c</field>
            <value>
                <elementReference>OppID</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SBQQ__Primary__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SBQQ__Status__c</field>
            <value>
                <stringValue>Draft</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SBQQ__WatermarkShown__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SBU__c</field>
            <value>
                <elementReference>UserSBU.SBU__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Site_Options__c</field>
            <value>
                <elementReference>selectSiteOptions</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Sub_Industry__c</field>
            <value>
                <elementReference>Sub_Industry</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Technology__c</field>
            <value>
                <elementReference>selectTechnology</elementReference>
            </value>
        </inputAssignments>
        <object>SBQQ__Quote__c</object>
    </recordCreates>
    <recordLookups>
        <name>Get_New_Quote_Information</name>
        <label>Get New Quote Information</label>
        <locationX>98</locationX>
        <locationY>530</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Completed</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>QuoteID</elementReference>
            </value>
        </filters>
        <object>SBQQ__Quote__c</object>
        <outputReference>Quote</outputReference>
        <queriedFields>Name</queriedFields>
        <queriedFields>Id</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>GetAccountName</name>
        <label>GetAccountName</label>
        <locationX>42</locationX>
        <locationY>22</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>GetUserID</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>AccountID</elementReference>
            </value>
        </filters>
        <object>Account</object>
        <outputReference>AccountName</outputReference>
        <queriedFields>Name</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>GetUserID</name>
        <label>GetUserID</label>
        <locationX>180</locationX>
        <locationY>20</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Gather_Quote_and_Opportunity_Information</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>UserID</elementReference>
            </value>
        </filters>
        <object>User</object>
        <outputReference>UserSBU</outputReference>
        <queriedFields>SBU__c</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Lookup_Opp_Info</name>
        <label>Lookup Opp Info</label>
        <locationX>99</locationX>
        <locationY>430</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_New_Quote_Information</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>OppID</elementReference>
            </value>
        </filters>
        <object>Opportunity</object>
        <outputReference>Opportunity</outputReference>
        <queriedFields>Name</queriedFields>
    </recordLookups>
    <screens>
        <name>Completed</name>
        <label>Completed</label>
        <locationX>102</locationX>
        <locationY>638</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>DisplayText</name>
            <fieldText>&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:14px&quot; COLOR=&quot;#006600&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;SUCCESS!!!&lt;/FONT&gt;&lt;/DIV&gt;&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;&lt;/FONT&gt;&lt;/DIV&gt;&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;A new Opportunity and Quote have been created:&lt;/FONT&gt;&lt;/DIV&gt;&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;&lt;/FONT&gt;&lt;/DIV&gt;&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;&lt;/FONT&gt;&lt;/DIV&gt;&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;&lt;B&gt;Opportunity&lt;/B&gt;:  {!Opportunity.Name} &lt;/FONT&gt;&lt;/DIV&gt;&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;&lt;B&gt;Quote&lt;/B&gt; {!Quote.Name}&lt;/FONT&gt;&lt;/DIV&gt;&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;&lt;/FONT&gt;&lt;/DIV&gt;&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;&lt;/FONT&gt;&lt;/DIV&gt;&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;The new records are listed in Opportunities and Quotes lists on this Account record.&lt;/FONT&gt;&lt;/DIV&gt;&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;&lt;/FONT&gt;&lt;/DIV&gt;&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;&lt;/FONT&gt;&lt;/DIV&gt;&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;Click Finish to complete the process.&lt;/FONT&gt;&lt;/DIV&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
    </screens>
    <screens>
        <name>Gather_Quote_and_Opportunity_Information</name>
        <label>Gather Quote and Opportunity Information</label>
        <locationX>43</locationX>
        <locationY>135</locationY>
        <allowBack>true</allowBack>
        <allowFinish>false</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Requirements_SBU_LOB</targetReference>
        </connector>
        <fields>
            <name>Display</name>
            <fieldText>&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;Update the Opportunity Name if desired.&lt;FONT STYLE=&quot;font-size:14px&quot;&gt;&lt;/FONT&gt;&lt;/FONT&gt;&lt;/DIV&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Opportunity_Name</name>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>DefaultOppNameValue</elementReference>
            </defaultValue>
            <fieldText>Opportunity Name</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Display2</name>
            <fieldText>&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;You must select an Expected Close Date for the new Opportunity.&lt;FONT STYLE=&quot;font-size:14px&quot;&gt;&lt;/FONT&gt;&lt;/FONT&gt;&lt;/DIV&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Expected_Close_Date</name>
            <dataType>Date</dataType>
            <fieldText>Expected Close Date</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Opportunity_Type</name>
            <choiceReferences>OppType</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Opportunity Type</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>false</isRequired>
        </fields>
    </screens>
    <screens>
        <name>Requirements_SBU_LOB</name>
        <label>Requirements: SBU &amp; LOB</label>
        <locationX>185</locationX>
        <locationY>134</locationY>
        <allowBack>true</allowBack>
        <allowFinish>false</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Selecting_LOB</targetReference>
        </connector>
        <fields>
            <name>SelectSBU</name>
            <fieldText>Please select the quote classifications. The sub-industry, where relevevant, will be selected on the next screen.</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>selectTechnology</name>
            <choiceReferences>picklistTechnology</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Technology</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>selectSiteOptions</name>
            <choiceReferences>picklistSiteOptions</choiceReferences>
            <choiceReferences>pickvalNone</choiceReferences>
            <dataType>String</dataType>
            <defaultSelectedChoiceReference>pickvalNone</defaultSelectedChoiceReference>
            <fieldText>Site Options</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>selectIndustry</name>
            <choiceReferences>picklistIndustry</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Industry</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>SearchLOB</name>
            <fieldText>Please search for the LOB using the first few letters of the LOB Name.</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>LOB</name>
            <dataType>String</dataType>
            <fieldText>LOB</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
    </screens>
    <screens>
        <name>Selecting_LOB</name>
        <label>Selecting LOB</label>
        <locationX>327</locationX>
        <locationY>132</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Create_Opportunity</targetReference>
        </connector>
        <fields>
            <name>SubIndustryInstructions</name>
            <fieldText>Select Sub-Industry if relevant.</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Sub_Industry</name>
            <choiceReferences>picklistSubIndustry</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Sub-Industry</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>LOBMatchInstructions</name>
            <fieldText>Select the appropriate LOB</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Matching_LOBs</name>
            <choiceReferences>MatchingLOBChoices</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Matching LOBs</fieldText>
            <fieldType>RadioButtons</fieldType>
            <isRequired>false</isRequired>
        </fields>
    </screens>
    <startElementReference>GetAccountName</startElementReference>
    <variables>
        <description>The AccountID passed to the Flow to create the Quote and The Opportunity records</description>
        <name>AccountID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>AccountName</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Account</objectType>
    </variables>
    <variables>
        <description>Opportunity ID created for this Quick Quote</description>
        <name>OppID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Opportunity</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Opportunity</objectType>
    </variables>
    <variables>
        <name>Pricebooks</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <objectType>Pricebook2</objectType>
    </variables>
    <variables>
        <name>Quote</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>SBQQ__Quote__c</objectType>
    </variables>
    <variables>
        <description>Quote ID generated from this process</description>
        <name>QuoteID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>UserID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>UserSBU</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>User</objectType>
    </variables>
    <variables>
        <name>varIndustry</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varLOBID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>varLOBName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>varPricebook</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varSiteOptions</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varSubIndustry</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varTechnology</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
